{% extends "base.html" %}
{% block title %}Balance{% endblock %}

{% block content %} 
{% from "_formhelpers.html" import render_field %}

<div>
<form action="{{url_for('showbalance')}}" method="POST">
    {{form.csrf_token}}

    <div class="a">
      <div class="a">
          {{ render_field(form.Account, class="form-control") }}
        </select>
      </div>
      <div ></div>
        
      </div>
      <div class="a">
        <button type="submit" class="btn btn-secondary" value="Add">View {{value.AccountType}} Balance</button> 
      </div>
    </div>
  </form>
</div>

<hr>


  <div class="card">
    <div class="card-body">
      <p>${{value}}</p>
    </div>
  </div>


{% endblock %}

